#main-div {
  background-color: #01bf71;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.w-75 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.error {
  color: red;
}
