.react-chatbot-kit-chat-inner-container {
  margin-bottom: 0px;
}

.app-chatbot-button {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #457aa0;
  color: white;
  font-weight: bolder;
  font-style: italic;
  font-display: unset;
  font-family: cursive;
  border: none;
  position: fixed;
  bottom: 5px;
  z-index: 9999;
  right: 40px;
}
