@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.dashboard-container {
  height: 93vh;
}

.links {
  text-decoration: none;
  color: white;
}
.links:hover {
  color: black;
}
.sidebar-items {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: white;
  margin-left: 3rem;
}

.sidebar-titles:hover {
  color: #212529;
}

.link {
  text-decoration: none;
  color: white;
  height: 60px;
}
.link:hover {
  color: #212529;
}

.sidebar-items:hover {
  background-color: rgb(236, 230, 230);
  color: #212529;
}

.sidebar {
  background-color: #212529;
}

.vote-div {
  height: 23vh;
  border-radius: 3px;
}

.card-vote {
  background-color: #1181f8 !important;
}

.card-footer {
  text-decoration: none;
}

.card-result {
  background-color: #28a745 !important;
}

.card-live {
  background-color: #ffc107 !important ;
}

.card-info {
  background-color: #17a2b8 !important;
}

.card-chat {
  background-color: #dc3545 !important;
}

.bg-footer {
  background-color: rgba(236, 231, 231, 0.911);
}

@media only screen and (max-width: 993px) {
  .sidebar {
    height: 140vh;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    max-height: 425px !important;
  }
}
