video {
  object-fit: none !important;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.position-absolute {
  position: absolute;
}

.alert {
  color: red;
}
